##### June 12th 2022

In [4]:
s = "upper"
s.upper()
type(s)

str

In [6]:
s.upper().capitalize() # tab to see suggestions

'Upper'

In [8]:
s2 = """ this
is 
a paragraph
"""

In [9]:
s2

' this\nis \na paragraph\n'

In [10]:
print(s2)

 this
is
a paragraph

In [15]:
y1 = (4-3)*8/7
y1

1.1428571428571428

In [16]:
import math

math.floor(y1)

1

In [17]:
round(y1, 3) # round value to 3 digits

1.143

In [24]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\court\anaconda3\lib\site-packages (1.21.5)

In [27]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\court\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\court\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\court\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\court\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\court\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [26]:
import numpy as np

In [28]:
import pandas as pd

#### Collections

1. List
2. Tuple
3. Dictionary

In [33]:
L = [1,2,3]
L

[1, 2, 3]

In [30]:
type(L)

list

In [32]:
T = (11,22,33)
T

(11, 22, 33)

In [34]:
type(T)

tuple

In [36]:
D = {"a":1,
    "b":2,
    "c":3}

D

{'a': 1, 'b': 2, 'c': 3}

In [37]:
type(D)

dict

In [54]:
D["a"]

1

### Sorting etc

In [38]:
L2 = [22,33,444,555,"a","b","c",[11,22,33],print]

In [39]:
L2[7][1] # Find the list first then treat it as a single listb

22

In [43]:
L2[-2][1]

22

In [47]:
L3 = [322,334,56,0.-3,-123,34,56]

In [50]:
L3.sort(reverse=True)
L3

[334, 322, 56, 56, 34, -3.0, -123]

In [53]:
L3.append(99)
L3

[334, 322, 56, 56, 34, -3.0, -123, 99, 99]

In [56]:
my_list = list("abcdeghijklmnopqrs")
my_list

['a',
 'b',
 'c',
 'd',
 'e',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's']

In [57]:
for x in my_list:
    print("looping")
    print(x)
print("loop has ended")

looping
a
looping
b
looping
c
looping
d
looping
e
looping
g
looping
h
looping
i
looping
j
looping
k
looping
l
looping
m
looping
n
looping
o
looping
p
looping
q
looping
r
looping
s
loop has ended

In [65]:
count = 0

for x in my_list:
    print("looping")
    print(x.upper())
    count += 1    
print("loop has ended")
print(count)

looping
A
looping
B
looping
C
looping
D
looping
E
looping
G
looping
H
looping
I
looping
J
looping
K
looping
L
looping
M
looping
N
looping
O
looping
P
looping
Q
looping
R
looping
S
loop has ended
18

In [64]:
len(my_list)

18

## Loop through Dictionary

In [73]:
my_dict = {"a":1,
    "b":2,
    "c":3, "d":"string"}

my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 'string'}

for x in my_dict.items():
    print(x) # can unpack dictionary into tuples

In [76]:
results = []

for x in my_dict.values():
    print(x)
    print(type(x))
    if type(x) == int:
        print("it is an integer")
        results.append(x)
    else:
        print("not an integer")
    print()
results

1
<class 'int'>
it is an integer

2
<class 'int'>
it is an integer

3
<class 'int'>
it is an integer

string
<class 'str'>
not an integer

[1, 2, 3]

In [ ]:
# ctrl +/ commenting
#  TAB = indent
# SHIFT + TAB = un indent

#CTRL+ENTER or SHIFT + ENTER to run (shift = moves cursor to next cell)

### Logical Conditions

In [77]:
if 3 == 4:
    print ("3 equal to 4")
else:
    print("not equal")

not equal

In [78]:
if 3>4:
    print("3>4")
elif 3 > 5:
    print("3>5")
else:
    print("conditions not met")

conditions not met